name: Deploy All Services to CyberPanel

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies for all services
        run: |
          cd services
          for d in */ ; do
            if [ -f "$d/package.json" ]; then
              echo "Installing dependencies in $d"
              cd $d
              npm install
              cd ..
            fi
          done

      - name: Deploy services via SFTP
        uses: wlixcc/SFTP-Deploy-Action@v1.2
        with:
          server: ${{ secrets.SERVER_HOST }}
          port: 2298
          username: ${{ secrets.SERVER_USER }}
          ssh_private_key: ${{ secrets.DEPLOY_KEY }}
          local_path: "services/**"
          remote_path: "/home/core1.health-ease-hospital.com/auth.health-ease-hospital.com"
          args: '-o StrictHostKeyChecking=no'
