name: Deploy Microservices to CyberPanel

on:
  push:
    branches:
      - master

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      # AUTH SERVICE -------------------------
      - name: Install dependencies (auth-service)
        run: |
          cd services/auth-service
          npm install

      - name: Deploy auth-service
        uses: wlixcc/SFTP-Deploy-Action@v1.2
        with:
          server: ${{ secrets.SERVER_HOST }}
          port: 2298
          username: ${{ secrets.SERVER_USER }}
          ssh_private_key: ${{ secrets.DEPLOY_KEY }}
          local_path: "services/auth-service/*"
          remote_path: "/home/core1.health-ease-hospital.com/auth-service"
          exclude: |
            node_modules
            .git
          args: "-o StrictHostKeyChecking=no"

      # PATIENT SERVICE ----------------------
      - name: Install dependencies (patient-service)
        run: |
          cd services/patient-service
          npm install

      - name: Deploy patient-service
        uses: wlixcc/SFTP-Deploy-Action@v1.2
        with:
          server: ${{ secrets.SERVER_HOST }}
          port: 2298
          username: ${{ secrets.SERVER_USER }}
          ssh_private_key: ${{ secrets.DEPLOY_KEY }}
          local_path: "services/patient-service/*"
          remote_path: "/home/core1.health-ease-hospital.com/patient-service"
          exclude: |
            node_modules
            .git
          args: "-o StrictHostKeyChecking=no"
